
:root {
  /*? Grinin koyu tonlari */
  --grey-1: hsl(0, 0%, 20%);
  --grey-6: hsl(0, 0%, 65%);

  /*? Diger renkler */
  --purple: hsl(276, 85%, 49%);
  --white: #fff;
  --red-dark: #a62440;
  --red-light: hsl(360, 67%, 66%);
  --black: #222;
  --yellow-1: hsl(52, 100%, 68%);
  --yellow-2: hsl(34, 87%, 59%);
  --orange: hsl(11, 100%, 59%);
  --orange-light: hsl(11, 100%, 67%);
  --orange-dark: hsl(11, 100%, 50%);
}
