* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator {
    background: black;
    border-radius: 50px;
    color: white;
    height: 640px;
    width: 400px;
    padding: 20px;
  }
  
  .display {
    height: 200px;
    width: 100%;
    text-align: right;
    padding: 20px;
font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .previous-display {
    opacity: 0.5;
    font-size: 50px;
    overflow: hidden;
  }
  
  .buttons-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 70px;
    width: 70px;
    transition: all 0.3s ease-in-out;
  }
  
  .function {
    color: black;
    background: #a5a5a5;
  }
  
  .operator {
    background: #f1a33c;
  }
  
  .number-0 {
    border-radius: 50px;
    grid-column: span 2;
    justify-content: flex-start;
    padding-left: 40px;
    width: 180px;
  }
  
  .button:active {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .button:hover {
    opacity: 0.5;
  }
  